# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

# VS Code
.vscode/
*.code-workspace
.history/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.node_repl_history

# Build output
dist/
build/

# Environment
.env
.env.local
.env.*.local

/ben.md
/spec.md
